<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <a href="#" class="navbar-brand">Angular</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          [routerLink]="['/about']"
          routerLinkActive="router-link-active"
          >About</a
        >
      </li>
    </ul>
  </div>
</nav>
